<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>

<h2>Список студентів</h2>

<form action="/delete/" method="post">
    {% csrf_token %}
    <button type="submit">Видалити студентів (5 курс)</button>
</form>

<form action="/sort/" method="post">
    {% csrf_token %}
    <button type="submit">Сортувати за роком</button>
</form>

<hr>

<ul>
    {% for student in students %}
        <li>
            {{ student.name }} - {{ student.year_of_study }} курс ({{ student.stud_id }})
        </li>
    {% endfor %}
</ul>

</body>
</html>